<h1 style="color: gold;">Edit products</h1>

<h2 style="color: gold;">Add Product</h2>

<div style="color: gold;">
    <label>Product</label>
    <input id="inputProduct" type="text">
    <span>Ej: {"title":"Harry Potter","description":"Videogame","price":3000,"thumbnail":"N/A","code":"Gryffindor","stock":7}</span>
</div>
<br>

<button id="btnAddProduct" class="btn btn-warning">Add Product</button>

<h2 style="color: gold;">Update Product</h2>

<div style="color: gold;">
    <label>Product ID to replace</label>
    <input id="inputProductID" type="text">
    <span>Ej: 63f69e169004b6ab03e0cb4b</span>
    <br>
    <label>New Product to update</label>
    <input id="inputNewProduct" type="text">
    <span>Ej: {"title":"Harry Potter","description":"Videogame","price":3000,"thumbnail":"N/A","code":"Gryffindor","stock":7}</span>
</div>
<br>

<button id="btnUpdateProduct" class="btn btn-warning">Update Product</button>

<h2 style="color: gold;">Delete Product</h2>

<div style="color: gold;">
    <label>Product ID to remove</label>
    <input id="inputDeleteProductID" type="text">
    <span>Ej: 63f69e169004b6ab03e0cb4b</span>
</div>
<br>

<button id="btnDeleteProduct" class="btn btn-warning">Remove Product</button>

<script src="/js/admin.js"></script>